<h1>sign up page</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="your name">
    <input type="email" name="email" placeholder="your email">
    <input type="password" name="password" placeholder="your password">
    <input type="password" name="confirm_password" placeholder="confirm password">
    <input type="submit" value="Sign up">
</form>